<section class="mb-5">
    <h2 class="h1-responsive font-weight-bold text-center my-4">About us</h2>
    <p class="text-center w-responsive mx-auto mb-5">Welcome to Movie Book</p>
    <div class="col-md-12 text-center">
        <ul class="list-unstyled mb-0">
            <li><i class="fas fa-map-marker-alt fa-2x"></i>
                <p> We are passionate about movies and we want to make it easy and convenient for you to enjoy them on the big screen. Our website is designed to help you find the perfect movie, at the perfect time, and at the perfect location.</p>
            </li>

            <li><i class="fas fa-phone mt-4 fa-2x"></i>
                <p>We have a vast selection of movies for you to choose from, including the latest blockbusters and classic films. You can browse our website by genre, release date, or location, and purchase your tickets with ease.</p>
            </li>
            <li>
                <p>At our website, we pride ourselves on providing the best customer service possible. If you have any questions or concerns, our friendly customer service team is here to help you every step of the way.
                </p>
            </li>
            <li>
                <p>We also offer special promotions and discounts to make your movie-going experience even more enjoyable. Be sure to sign up for our newsletter to stay up-to-date on the latest deals and offerings.
                </p>
            </li>
            <li>
                <p>Thank you for choosing our movie tickets website. We hope you enjoy your movie experience and come back again soon!
</p>
            </li>
        </ul>
    </div>
</section>
