@using eTickets.Data.ViewModels; 
@model LoginVM;
<style>
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
</style>
@{ 
    ViewData["Title"] = "Log in to your account";
}



<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
          <div class="card rounded-3 text-black">
              @if(TempData["Error"] != null)
                  {
                      <div class="col-md-12 alert alert-danger">
                          <span><b>Sorry!</b> - @TempData["Error"] </span>
                      </div>
                  }
              <div class="row g-0">
                  <div class="col-lg-6">
                      <div class="card-body p-md-5 mx-md-4">


                          <div class="text-center">
                              <img src="https://www.shutterstock.com/shutterstock/photos/739876768/display_1500/stock-vector-two-cinema-vector-tickets-isolated-on-white-background-realistic-front-view-illustration-739876768.jpg"
                                   style="width: 185px;" alt="logo">
                              <h4 class="mt-1 mb-5 pb-1 text-monospace">Movie Tickets </h4>
                          </div>

                          <form asp-action="Login">
                               <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                              <p>Please login to your account</p>

                              <div class="form-outline mb-4">
                                 <label asp-for="EmailAddress" class="control-label"></label>
                                 <input asp-for="EmailAddress" class="form-control" />
                                 <span asp-validation-for="EmailAddress" class="text-danger"></span>
                              </div>

                              <div class="form-outline mb-4">
                                  <label asp-for="Password" class="control-label"></label>
                                  <input asp-for="Password" class="form-control" />
                                  <span asp-validation-for="Password" class="text-danger"></span>
                              </div>

                              <div class="text-center pt-1 mb-5 pb-1">
                                  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                                      in</button>
                                  <a class="text-muted" asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
                              </div>

                              <div class="d-flex align-items-center justify-content-center pb-4">
                                  <p class="mb-0 me-2">Don't have an account?</p>
                                  <a asp-controller="Account" asp-action="Register" class="btn btn-outline-danger">Register</a>
                              </div>

                          </form>

                      </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                      <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                          <h4 class="mb-4">We are more than just a Movie company</h4>
                          <p class="small mb-0">Welcome to the best selling site in the internet</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>