@using eTickets.Data.ViewModels; 
@model ResetPasswordVM;
<div class="row">
    <div class="col-md-8 offset-2">
        @if(TempData["Success"] != null)
        {
            <div class="col-md-12 alert alert-success">
                <span> @TempData["Success"] </span>
            </div>
                
        }
        <div id="otp-verification-form">
            <div class="form-group col-md-4">
                <label>Enter OTP</label>
                <input id="otp-input" class="form-control" type="number" placeholder="Enter the OTP"/>
                <button id="verify-otp-button" class="btn btn-primary">Verify OTP</button>
            </div>
        </div>
        
        <div id="reset-password-form" style="display:none;">
            <form asp-action="ResetPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="display: none">
                     <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control" value="@TempData["email"]"/>
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control"/>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="btn btn-outline-success float-right" type="submit" value="Reset Password"/>
                    <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Login">Back To Login</a>
                </div>
            </form>
        </div>

    </div>
</div>
<script>
// Add event listener for the Verify OTP button
    document.getElementById("verify-otp-button").addEventListener("click", function() {
        // Send a request to the server to verify the OTP
        var otp = document.getElementById("otp-input").value;
        fetch("https://sms.genius.ke/api/get/otp?secret=680a8f3796bdec685b537cde0a6749f209c82d5f&otp=" + otp)
            .then(response => response.json())
            .then(data => {
                if (data.status === 200)
                {
                    document.getElementById("reset-password-form").style.display = "block";
                    // Hide the OTP verification form
                    document.getElementById("otp-verification-form").style.display = "none";
                }else 
                {
                    alert("Invalid otp please try again");
                
                }
            });
    });
</script>